extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	+b.main-test
		+e.title
			h1 Проверка
				span  мда
	button(type="button" class="main_btn") Тест