extends ../layout/main

block variables
	- var title = 'Парсинг'

block main
	+b.SECTION.parsing-section
		// вкинуть в папку pages xml файл который надо парсить, потом сохранить через инструмент разработчика изменённый код и сохранить его в новый xml файл
		//include ../rozetka_categories.xml
