absolute-center()
	position absolute
	top 50%
	left 50%
	transform translate(-50%,-50%)

absolute-all(num)
	position absolute
	top num
	bottom num
	right num
	left num

position($position, $top = null, $right = null,  $bottom = null, $left = null)
	position: $position
	if $left is a 'unit' or $left == 'auto'
		left: $left
	if $right is a 'unit' or $right == 'auto'
		right: $right
	if $top is a 'unit' or $top == 'auto'
		top: $top
	if $bottom is a 'unit' or $bottom == 'auto'
		bottom: $bottom

absolute($top = null, $right = null,  $bottom = null, $left = null)
	position(absolute, $top, $right, $bottom, $left)

fixed($top = null, $right = null,  $bottom = null, $left = null)
	position(fixed, $top, $right, $bottom, $left)

relative($top = null, $right = null,  $bottom = null, $left = null)
	position(relative, $top, $right, $bottom, $left)


size(a, b = false)
	width a
	if b
		height b
	else
		height a

font($color, $fz, $ff, $lh = 1.6)
	color: $color
	font-size: $fz px
	font-size: ($fz/16) rem
	font-family: $ff
	line-height: $lh

fz($font_px)
	font-size: $font_px px
	font-size: ($font_px/16) rem

pseudo($display = block, $pos = absolute, $content = '')
	content: $content
	display: $display
	position: $pos

css-triangle($color, $direction, $size = 6px, $position = absolute, $round = false)
	pseudo($pos: $position)
	width: 0
	height: 0
	if $round
		border-radius: 3px
	if $direction == down
		border-left: $size solid transparent
		border-right: $size solid transparent
		border-top: $size solid $color
		margin-top: 0 - round( $size / 2.5 )
	else if $direction == up
		border-left: $size solid transparent
		border-right: $size solid transparent
		border-bottom: $size solid $color
		margin-bottom: 0 - round( $size / 2.5 )
	else if $direction == right
		border-top: $size solid transparent
		border-bottom: $size solid transparent
		border-left: $size solid $color
		margin-right: -$siz
	else if  $direction == left
		border-top: $size solid transparent
		border-bottom: $size solid transparent
		border-right: $size solid $color
		margin-left: -$size

truncate($truncation-boundary)
	max-width: $truncation-boundary
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis

