// Секция top-section
.test-section
	padding-top: 100px
	padding-bottom: 50px
	background: url(../img/header_bg.jpg) no-repeat
	background-size: cover
	flex: 1 1 auto
.top-section
	text-align: center
	min-height: 660px
	height: 100vh
	background: url(../img/header_bg.jpg) no-repeat
	background-size: cover
	.container
		height: 100%
		min-height: 100%
		.row
			height: 100%
			min-height: 100%
			flex-direction: column
			align-items: center
.top-section__title
	margin-top: 115px
	flex: 1 auto
	display: flex
	flex-direction: column
	align-items: center
	justify-content: flex-end
	p
		fz(30)
		color: #fff

.top-section__bot-txt
	margin-top: 50px
	flex: 1 0 auto
	p
		fz(23)
		color: #fff
		transition: 0.5s
// Секция our_advantages
.our-advantages
	min-height: 630px
	background-color: #fff
	padding-top: 75px
	.our-advantages__title
		margin-bottom: 10px
		text-align: center
		h2
			margin: 0
			color: #626262
			text-align: center
			font-size: 35px
			transition: background 0.5s, font-size 0.5s, color 0.5s
		.is-sticky
			z-index: 1000 !important
			background: #000
			color: #ffffff
			font-size: 20px
	.our-advantages__item
		margin-bottom: 30px
		min-height: 230px
		h3
			font-size: 26px
			text-align: center
		p
			margin-top: 15px
			fz(16)
			line-height: 1.2
			text-align: center
		.our-advantages__img
			text-align: center
			fz(72)
			color: #00b6f4

// Секция main_content
.main-content
	text-align: center
	.owl-carousel.owl-drag .owl-item
		min-height: 300px
		background-color: #00b6f4
		display: flex
		align-items: center
		justify-content: center
	.swiper-container
		width: 100%
		height: 200px
		.swiper-slide
			display: flex
			align-items: center
			justify-content: center
			background-color: #ddeadd
		.slider-img
			width: 40px
			height: 40px
			margin-right: 5px
			border-radius: 50%
			overflow: hidden
			position: relative
			text-align: left
			// пример как делать картинку по центру и чтобы она встраивалась в блок если круглый родитель transform и left по центру ставят картинку
			img
				position: absolute
				min-width: 100%
				width: initial
				width: auto
				height: 100%
				top: 0
				transform: translateX(-50%)
				left: 50%
				z-index: 0
	.select2-wrap
		width: 200px
		margin: auto
// Секция intermediate
.intermediate
	text-align: center
	background-color: #00b6f4
	padding-top: 50px
	padding-bottom: 50px
	.intermediate__title
		max-width: 650px
		margin: auto
		color: #052243
		h3
			margin: 0
			text-transform: uppercase
			fz(24)
			color: #052243
	.intermediate__wrap
		margin-top: 40px
		form
			.file-wrap
				width: 600px
				margin: auto
				&::-webkit-file-upload-button
					cursor: pointer
			input[type=file]
				width: 100%
				height: 50px
				opacity: 0
				position: absolute
				top: 0
				right: 0
				z-index: 200
				margin: 0
				cursor: pointer
				-webkit-appearance: none
				&::-webkit-file-upload-button
					cursor: pointer
			.fileLoad
				cursor: pointer
				text-align: left
				button
					width: 268px
					position: absolute
					right: -1px
					top: 0
					&.button-hover
						background-color: #333333
						color: #fff
						text-decoration: none
						outline: 0
				input
					width: 270px
					height: 51px
					margin-bottom: 17px
					line-height: 50px
					white-space: nowrap
					text-overflow: ellipsis
			.intermediate__item
				margin-bottom: 20px
				input
					width: 100%
					display: inline-block
					border: 1px solid #a2b6c9
					background: #fff
					color: #43637f
					height: 40px
					padding: 0 0 0 9px
					&::-webkit-input-placeholder
						color: #43637f
					&:-moz-placeholder
						color: #43637f
					&::-moz-placeholder
						color: #43637f
					&:-ms-input-placeholder
						color: #43637f
				input[type=submit]
					background: #fff
					color: #43637f

//	Секция
//	Секция
//	Секция