html .loader {
	background: #fff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999
}

html .loader .loader_inner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
	left: 50%;
	top: 50%;
	position: absolute
}
.clearfix::after{display:block;content:""}
.img-fluid{max-width: 100%;height: auto;}

@import '../libs/bootstrap-grid.min.css'
@import "../libs/magnific-popup.css"
@import 'utils/fonts.styl'
@import 'utils/vars.styl'
@import 'utils/mixins.styl'

html
	&.modal
		margin-right: 12px !important
html, body
	font-size: 16px
	&.sticky-footer
		height: 100%
	&.slidebars
		width: 100%
		overflow: hidden !important

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

button:not(:disabled):not(.disabled)
	cursor: pointer

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body
	margin: 0
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $font_main_regular
	overflow-x: hidden
	color: $main_txt_color
	-webkit-tap-highlight-color: transparent
	//внешний вид скроллбара
	// firefox
	scrollbar-color: $main_color white; /* thumb and track color */
	scrollbar-width: thin;
	// webkit
	scrollbar-base-color: $main_color   //для IE
	scrollbar-arrow-color: $main_color	//для IE
	//внешний вид скроллбара для -webkit- остальное тут https://poselab.com/en/blog/custom-scrollbars-in-webkit/
	&::-webkit-scrollbar
		width: 12px
	&::-webkit-scrollbar-thumb
		background-color: $main_color
		&:hover
			background-color: darken($main_color, 10%)
	&::-webkit-scrollbar-track-piece
		background-color: transparent
//-webkit-font-smoothing: antialiased
//-moz-osx-font-smoothing: grayscale

// перебиваем у всех заголовков стили браузера  -webkit-margin-before и     -webkit-margin-after  (margin-bottom и margin-top соотвественно)
h1
	font($main_color, 28, $font_main_regular, 1.2)
	margin-bottom: 0.83em
	margin-top: 0.83em
h2
	margin-bottom: 0.83em
	margin-top: 0.83em
p,ul
	padding: 0
	margin: 0
li
	list-style: none

.noselect
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

// оформление общего вид select
.select
	position: relative
	text-align: left
	.select__static-txt
		position: absolute
		top: 48%
		left: 15px
		transform translateY(-50%)
		cursor: pointer
		pointer-events: none
		z-index: 1
	.select__drop
		width: 100%
		max-height: 200px
		overflow auto
		margin: 0 auto
		padding: 0
		border-top: none
		display: none
		position: absolute
		background-color: #F4F4F4
		top: 100%
		left: 0
		right: 0
		z-index: 12
		li
			list-style: none
			border-bottom: none
			border-top: none
			cursor: pointer
			display: block
			font($auxiliary_txt_color, 18, $font_main_regular, 1.2)
			padding: 7px 15px 7px 25px
			transition: 0.5s
			&:hover
				background-color: rgba(0,0,0,0.2)
				outline: 0
			a
				text-decoration: none
		//внешний вид скроллбара
		scrollbar-base-color: $main_color   //для IE
		scrollbar-arrow-color: $main_color	//для IE
		//внешний вид скроллбара для -webkit- остальное тут https://poselab.com/en/blog/custom-scrollbars-in-webkit/
		&::-webkit-scrollbar
			width: 5px
		&::-webkit-scrollbar-thumb
			background-color: $main_color
			&:hover
				background-color: darken($main_color, 10%)
		&::-webkit-scrollbar-track-piece
			background-color: lighten($main_color, 60%)
	.select__link
		width: 100%
		height: 40px
		padding-left: 25px
		padding-right: 30px
		display: flex
		align-items: center
		font(#fff, 18, $font_main_regular, 1.2)
		background-color: rgba(0,0,0,0.6)
		text-decoration: none
		position: relative
		transition: color 0.5s, background-color 0.5s
		&.active
			color: #000
			background-color: #F4F4F4
		span
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
			-o-text-overflow: ellipsis
	.select__arrow
		display: flex
		align-items: center
		position: absolute
		top: 50%
		right: 10px
		cursor: pointer
		transform: translateY(-45%)
		z-index: 10
		i
			fz(24)
			color: #000
			display: inline-flex
			position: relative
			z-index: 10
			transition: 0.3s
		&.active i
			transform: rotate(180deg)
// добавляет правильное свойство размера блока
.swiper-wrapper
	box-sizing border-box
// html .loader
// 	background: none repeat scroll 0 0 #ffffff
// 	bottom: 0
// 	height: 100%
// 	left: 0
// 	position: fixed
// 	right: 0
// 	top: 0
// 	width: 100%
// 	z-index: 9999
// 	.loader_inner
// 		background-image: url("../img/preloader.gif")
// 		background-size: cover
// 		background-repeat: no-repeat
// 		background-position: center center
// 		background-color: #fff
// 		height: 60px
// 		width: 60px
// 		margin-top: -30px
// 		margin-left: -30px
// 		left: 50%
// 		top: 50%
// 		position: absolute
.hidden
	display: none

// Оформление слайдбара
[off-canvas]
	transition: transform 0.4s
	overflow: auto
	-webkit-overflow-scrolling: touch
[off-canvas*=left]
	width: 255px
[canvas=container]
	background-color: transparent
	-webkit-tap-highlight-color: transparent
	&.sticky-footer
		display: flex
		flex-direction: column
		height: 100%
		//внешний вид скроллбара
		scrollbar-base-color: $main_color   //для IE
		scrollbar-arrow-color: $main_color	//для IE
		//внешний вид скроллбара для -webkit- остальное тут https://poselab.com/en/blog/custom-scrollbars-in-webkit/
		&::-webkit-scrollbar
			width: 12px
		&::-webkit-scrollbar-thumb
			background-color: $main_color
			&:hover
				background-color: darken($main_color, 10%)
		&::-webkit-scrollbar-track-piece
			background-color: transparent
nav[canvas]
	position: fixed
	top: 20px
	left: 20px
	display: none
	z-index: 100
[class*=js-open-], [class*=js-toggle-], [class*=js-close-]
	cursor: pointer
[off-canvas]
	ul
		&.menu
			margin: 0
			padding: 0
			display: block
			list-style: none
.sticky-section
	flex: 1 0 auto
// Header
.header
	width: 100%
	padding-top: 30px
	padding-bottom: 30px
	flex: 0 0 auto
	background-color: transparent
	position: absolute
	z-index: 10
	.row
		align-items: center
.header__logo
	display: inline-block
	margin-left: 15px
	a
		color: #fff
		fz(34)
		font-family: $font_main_regular
		&:hover
			text-decoration: none
.header__nav
	display: inline-block
	position: relative
	margin-left: auto
	margin-right: auto
	ul
		li
			list-style: none
			display: inline-block
			a
				margin-right: 15px
				color: #fff
				fz(16)
				text-decoration: none
				transition: .5s
				&:hover
					color: $main_color
					text-decoration: none
				&:active
					color: $main_color
					text-decoration: none
				&:focus
					color: $main_color
					text-decoration: none

.header__modal
	display: inline-block
	&.last
		a
			&:after
				css-triangle(#fff,up,10px)
				top: calc(50% - 5px)
				right: -20px
				transition: 0.5s
			&:hover:after
				transform: rotate(180deg)
	a
		margin-left: 15px
		padding: 10px 15px
		font(#fff, 17, $font_main_regular)
		border: 2px solid #FFF
		border-radius: 10px
		text-decoration: none
		transition: .5s
		position: relative
		&:hover
			border: 2px solid transparent
			background-color: #ff9600
			color: #fff

// Пример checkbox
@keyframes checkColor
	from
		color: #727272
	to
		color: $main_color
@keyframes checkColorBack
	from
		color: $main_color
	to
		color: #000
label.check, label.radio
	display: inline-flex
	align-items: center
	color: #000
	cursor: pointer
	font-size: 14px
	user-select: none
	i
		width: 11px
		display: inline-flex
		margin-right: 10px
		font-size: 14px
		animation: checkColorBack
		animation-duration: 0.7s
		animation-direction alternate
		animation-fill-mode forwards
	span
		display: inline-block
		font-size: 14px
	input[type=checkbox],
	input[type=radio]
		position: absolute
		clip: rect(0 0 0 0)
		width: 1px
		height: 1px
		margin: -1px
		&:not(:checked)  ~ .fa-2
			display: none
		&:checked ~ i
			&.fa-1
				display: none
			&.fa-2
				display: inline-flex
				animation: checkColor
				animation-duration: 0.7s
				animation-direction alternate
				animation-fill-mode forwards
.visually-hidden
	position: absolute
	clip: rect(0 0 0 0)
	width: 1px
	height: 1px
	margin: -1px
