@import "../libs/magnific-popup.css"
//@import "../libs/animate.styl"  // если надо чтобы работал animate.css
@import "../libs/tooltipster-follower.min.css"
@import "../libs/tooltipster.bundle.min.css"
@import "../libs/tooltipster.main.min.css"
@import "../libs/anim-modal.css"
@import "../libs/slidebars.min.css"
@import "../libs/select2.min.css"
@import "../libs/owl.carousel.min.css"
@import "../libs/owl.theme.default.min.css"
@import "../libs/swiper.min.css"
@import "../libs/jquery.mCustomScrollbar.min.css"

